<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students List</title>
    <link rel="stylesheet" href="/styles/student.css">
</head>
<body>
  
    <table id="projects">
        <thead>
            <tr>
             
                <th>student_id</th>
                <th>subject_id</th>
                <th>Subject</th>
                <th>Term One Grade</th>
                <th>Term Two Grade</th>
                <th>Term Three Grade</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <%
               if(data.length) {
                   for (var i = 0; i < data.length; i++) {
            %>
              <tr>
                <td> <%= data[i].student_id%> </td>
                <td> <%= data[i].subject_id%> </td>
                <td> <%= data[i].subject%> </td>
                <td> <%= data[i].term1_grd%> </td>
                <td> <%= data[i].term2_grd%> </td>
                <td> <%= data[i].term3_grd%> </td>
                <td> 
                   <a href="/grades/edit/<%= data[i].id %>">Edit</a> 
                   <a href="/grades/delete/<%= data[i].id %>">Delete</a> 
                </td>
              </tr>  
              <%
                    }
               } else {    
              %>
              <tr>
                  <td colspan="4">NO Grades DATA!!</td>
              </tr>
              <% } %>
        </tbody>
    </table>
    <div class="add-student">
        <a href="/grades/create">
        <i class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>

</body>
</html>













